# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.git
.env
.editorconfig
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dockerignore
.gitignore
.gitlab-ci.yml
.prettierignore
.prettierrc
.snyk
.eslintrc
.eslintignore
dockerfile
README.md
/.gitlab